@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: black url(../imagens/fundo/meteor.jfif) no-repeat center center fixed;
    background-size: cover;
}

section {
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px #00000042;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#imagem {

}

section#conteudo {

}

article.desc {

}

article.cart {

}

h1 {

}

h2 {
    font-size: 1.1em;
}

p {

}

button {
    cursor: pointer;
    background-color: greenyellow;
    border: none;
    padding: 10px;
}