@charset "UTF-8";

@media screen and (min-width: 767px) {

    main {
        grid-template: repeat(2, 200px) / repeat(2, 369px);
        width: 740px;
        height: 400px;
    }

    section#imagem {
        grid-area: 1 / 1 / 3 / 2;
        width: 100%;
        height: 400px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
    }

    section#conteudo {
        grid-area: 1 / 2 / 3 / 3;
        width: 370px;
        height: 400px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }
}